X3UI_PANEL_PORT=2053
X3UI_VLESS_PORT=8443
X3UI_REALITY_PORT=443
X3UI_USERNAME=change_me
X3UI_PASSWORD=change_me
X3UI_INBOUND_ID=1
X3UI_REALITY_INBOUND_ID=2
X3UI_REALITY_PUBLIC_KEY=change_me
X3UI_REALITY_SHORT_ID=change_me
X3UI_REALITY_SNI=www.cloudflare.com
X3UI_REALITY_FINGERPRINT=chrome
X3UI_REALITY_VLESS_QUERY=encryption=none&type=tcp&security=reality&sni=www.cloudflare.com&fp=chrome&pbk=change_me&sid=change_me&spx=%2F
XRAY_VMESS_AEAD_FORCED=false
XUI_ENABLE_FAIL2BAN=true
